.container {
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.pro-pic {
    width: 50%;
    display:inline-block;
}
.text {
    width: 50%;
    display: inline-block;
    text-align: center;
}