<div class="container">
    <h1>About Me</h1>
    <hr>
    <p><b>Why Lob: </b>What sets Lob apart from other internship opportunities for me is the focus on
        bridging work in the Software Engineering field to the world outside of technology.<br><br>I chose the Software
        Engineering field because I found it to be the intersection of my academic strengths in both
        creative and technical areas. However, I have never planned on using my Computer Science degree to earn the
        highest salary possible at a large corporation. I chose Software Engineering because I am good at it, and in
        order to maximize the impact I can have on the issues I care about I will apply my personal strengths to the
        best of my ability.<br><br></p>
</div>