#upper-part {
  padding-top: 4em;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3em;
  padding-bottom: 1.4em;
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pic {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#lower-part {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.2em;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.3em;
  padding-bottom: 4em;
}

#title {
  width: 70%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-top: 0.1em;
}
