:root {
    --color-white: #ffffff;
    --color-burgundy: #5a1f49;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Neuton&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    /* display: flex;
    flex-direction: row; */
    min-width: 100vw;
    min-height: 100vh;
}

.col {
    /* width: 50%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

@media (max-width: 700px) {
    body {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
}

.col--top {
    /* background: linear-gradient(-50deg, #ea6060, #7117ea); */
    position: relative;
    height: 45vh;
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 32vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 32vh, 0 100%);
    background: linear-gradient(-150deg, #f57676, #fce38a);
    color: var(--color-burgundy);
}
.header__components {
    display: flex;
    text-align: center;
    width: 100%;
    /* margin-bottom: 48px; */
}

.header__components img {
    width: 15%;
    height: 100%;
    border-radius: 50%;
    margin-left: 3em;
}

h1 {
    font-family: "Neuton", serif;
    font-size: 6vw;
    margin: 60px 0.5em;
    /* width: 1000px; */
}

.col--bottom {
    background-color: var(--color-burgundy);
    /* background: linear-gradient(-90deg, #f02fc2, #6094EA); */
    color: var(--color-white);
    height: 70vh;
    margin-top: -10em;
}

h3 {
    color: #f57676;
    text-decoration: underline;
}

.text {
    padding: 0 10px;
    margin-right: -40%;
    text-align: end;
    width: 50%;
}

.text p:first-child {
    margin-top: 0;
}

@media (max-width: 700px) {
    body {
        flex-direction: column;
    }
    .col {
        width: 100%;
        padding: 20px 0;
    }

    .col--left {
        height: 20vh;
    }

    .col--right {
        height: calc(80vh - 80px);
    }
}
