:root {
  --color-white: #ffffff;
  --color-cobalt: #1878e0;
  --color-cerulean: #0099d7;
  --color-grayfog: #ebeff6;
  --color-graydove: #c5d6e6;
  --color-graymidnight: #324350;
  --color-grayshadow50: #416581;
  --color-graysteel: #5f83a5;
  --color-grayblue: #eaf0f7;
  --color-grayalt: #f8f9fa;
  --color-success: #6bc4a6;
  --color-error: #f76e40;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}

.col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
}

.col--left {
  background: url("img/martin-jernberg-UdURxHDhrgY-unsplash.jpg") no-repeat
    center center/cover;
  background-attachment: fixed;
  color: var(--color-white);
}

h1 {
  font-family: "Neuton", serif;
  font-size: 4vw;
  margin: 10px 0;
}

.col--right {
  background-color: var(--color-white);
}

.image {
  text-align: center;
  margin-bottom: 48px;
}

.image img {
  border-radius: 50%;
  width: 40%;
  height: 100%;
}

.text {
  padding: 0 20px;
  text-align: center;
  text-align: justify;
}

.text p:first-child {
  margin-top: 0;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
  .col {
    width: 100%;
    padding: 20px 0;
  }

  .col--left {
    height: 20vh;
  }

  .col--right {
    height: calc(80vh - 80px);
  }
}

.btn {
  background-color: rgb(31, 29, 29); /* Green */
  border: none; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.lower {
  padding-top: 30px;
}

.btn:hover {
  background-color: #497c49; /* Green */
  color: white;
}
